/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

html,body{
    height: 100vh;
}
body{
    background-color:#2E1012 ;
    background-image: url(./img/background.png);
    background-size: 90% 70% ;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.ui.stackable.grid .six.wide.column.meio {
    width: 100vh;
}
#coluna-do-meio{
    height: 100vh;
    padding: 32px 24px;
    background-color: #F3CC4D;
}
#coluna-esquerda{
    display: grid;
    place-content: center;
}
#coluna-direita{
    display: grid;
    place-content: center;
}

.ui.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20%;
}
.ui.container p{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: black;
    width: 100%;
}

/* só da pra mudar o botão do semantic especificando com o id */
#saiba-mais{
    font-weight: 200;
    font-family: "Indie Flower", cursive;
    background-color:#2E1012 ;
    border-radius: 0;
}

#logo{
    padding: 32px;
}

@media (max-width: 800px){

}
